<% layout("./layouts/boilerplate") %>

  <body>
    <br>
    <div class="row offset-lg-1">
      <h3>Add new Listing</h3>
      <div class="col-lg-9 ">
        <form action="/listings" method="post">

          <div class="mb-3">
            <label for="title" class="form-label">
              Title :
            </label>
            <input type="text" name="listing[title]" placeholder="Enter your title" class="form-control">
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">
              Description :
            </label> <textarea type="text" name="listing[description]" placeholder="Enter your description"
              class="form-control"> </textarea>
          </div>

          <div class="mb-3">
            <label for="filename" class="form-label">
              Image Name :
            </label><input type="text" name="listing[image][filename]" placeholder="Enter your filename"
              class="form-control">
          </div>

          <div class="mb-3">
            <label for="url" class="form-label">
              Image URL :
            </label> <input type="text" name="listing[image][url]" placeholder="Enter your url" class="form-control">
          </div>

          <div class="row">

            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">
                Price :
              </label><input type="number" name="listing[price]" placeholder="Enter your price" class="form-control">
            </div>

            <div class="mb-3 col-md-8">
              <label for="location" class="form-label">
                Location :
              </label><input type="text" name="listing[location]" placeholder="Enter your location"
                class="form-control">
            </div>

          </div>

          <div class="mb-3">
            <label for="country" class="form-label">
              Country :
            </label> <input type="text" name="listing[country]" placeholder="Enter your country" class="form-control">
          </div>

          <button class="btn btn-dark">Upload Listing</button>
        </form>
      </div>
    </div>
    <br>
  </body>