body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* navbar */
@media (min-width: 768px) {
  .navbar {
    height: 5rem;
  }
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

/* search */

.search-inp {
  border-radius: 1.5rem;
  border: 2px solid #fe424d;
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.search-btn {
  background-color: #fe424d;
  color: white;
  border-radius: 1.5rem;
  padding: 0 1rem 0 1rem;
}

.search-btn:hover {
  background-color: #fe424d;
  color: white;
}

/* Footer  */

.f-info {
  background-color: #ebebeb;
  height: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.f-info div {
  padding: 0.4rem;
}
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.fa-brands {
  font-size: 1.2rem;
}

/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem !important;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400 !important;
}
/* card Effect */
.card-img-top {
  opacity: 1;
}
.card-img-top:hover {
  opacity: 0.9;
}
/* Button Style */
.app-btn {
  background-color: #fe424d !important;
  border: 2px solid #ff2130 !important;
}

.app-btn:hover {
  opacity: 0.9 !important;
  background-color: #ff0011 !important;
}

/* show page  */
.card-img-top-show:hover {
  opacity: 1 !important;
}

.btns {
  display: flex;
}
.del:hover {
  background-color: rgb(255, 0, 0) !important;
}

/* filters section */
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter {
  text-align: center;
  margin-right: 1.2rem;
  margin-top: 1.5rem;
  opacity: 0.888;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
  font-size: medium;
  color: #000;
}

.filter p {
  font-size: small;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
}

.filters-tax-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
